@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/* font-family: 'Montserrat', sans-serif; */
body{
    background-color: rgb(243, 237, 230);
    font-family: 'Varela Round', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Varela Round', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: rgb(30, 4, 56);
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.profilePic{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.profilePic img{
    width: 35px;
    border-radius: 40%;
    padding: 0 8px;
}
.btn{
    background-color: rgb(47, 18, 78);
    color: rgb(228, 217, 240);
    padding: 7px 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(71, 48, 95);
}
#btnHome{
    background-color: rgb(30, 4, 56);
    color: white;
}
#btnHome:hover{
    color: rgb(156, 128, 185);
}
section{
    display: flex;
}
.frame-container{
    background-color: rgb(209, 204, 230);
    min-height: 35vh;
    border-radius: 12px;
    /* min-width: 80vw; */
    width: 90%;
    display: flex;
    margin: 12px auto;
    /* margin: 12px 0; */
    align-items: center;
    justify-content: center;
}
.image{
    width: 25vw;
    height: 75%;
    margin: auto;
    border-radius: 7px;
    display: none;
}
.background-front{
    background: url(../images/background-front.jpg);
    background-size: cover;
    color: white;
    height: 75%;
    margin: auto;
    border-radius: 7px;
    /* background-size: cover; */
    width: 80%;
    -webkit-filter: blur(0.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-flow: row wrap; */

}
.content{
    background-color: rgb(250, 248, 243);
    min-height: 47vh;
    border-radius: 8px;
    margin: 8px auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* height: 1200px; */
}
.inner-content{
    margin: 12px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.name{
    font-family: 'Varela Round', sans-serif;
}
.desc{
    font-family: 'Montserrat', sans-serif;
}
.text-content-title{
    margin: 4px 0;
}
.text-content{
    font-size: 20px;
}

footer{
    background-color: rgb(30, 4, 56);
    height: 6vh;
    color: white;
    position: sticky;
}
#first{
    display: none;
}
#second{
    display: none;
}
#third{
    display: none;
}




@media only screen and (max-width: 600px){
    .name{
        font-size: 15px;
    }
    .desc{
        font-size: 20px;
    }
    #knowMoreBtn{
        font-size: 13px;
    }
    .text-content{
        font-size: 17px;
    }
}
@media only screen and (max-width: 500px){
    .name{
        font-size: 12px;
    }
    .desc{
        font-size: 17px;
    }
    #knowMoreBtn{
        font-size: 11px;
    }
    .text-content{
        font-size: 14px;
    }
}
@media only screen and (max-width: 400px) {
    nav ul li {
        padding: 0 4px;
    }
    .name{
        font-size: 9px;
    }
    .desc{
        font-size: 13px;
    }
    #knowMoreBtn{
        font-size: 8px;
    }
    .text-content{
        font-size: 13px;
    }
}
